<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- componente form field; parametri: tipo di input, label, nome del field -->
<th:block th:fragment="formField(type, label, fieldName)">
    <label th:for="${fieldName}" class="form-label" th:text="${label}"></label>
    <input th:type="${type}" step="any" class="form-control" th:id="${fieldName}" th:field="*{__${fieldName}__}" th:errorclass="is-invalid">
    <div th:if="${#fields.hasErrors(fieldName)}" class="invalid-feedback">
        <ul>
            <li th:each="err : ${#fields.errors(fieldName)}" th:text="${err}"></li>
        </ul>
    </div>
</th:block>

<th:block th:fragment="descriptionField(type, label, fieldName)">
    <label th:text="${label}" class="form-label"></label>
    <textarea class="form-control" th:id="${fieldName}" rows="5" th:field="*{__${fieldName}__}" th:errorclass="is-invalid"></textarea>
    <div th:if="${#fields.hasErrors(fieldName)}" class="invalid-feedback">
        <ul>
            <li th:each="err : ${#fields.errors(fieldName)}" th:text="${err}"></li>
        </ul>
    </div>
</th:block>
</body>
</html>