<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>
<div class="container" th:object="${pizza}">
    <h1 th:text="*{name}"></h1>
    <hr>
    <div class="d-flex">
        
        <img style="max-width: 450px" th:src="*{photo}" th:alt="|Immagine pizza *{name}|">
        <div style="margin-left: 30px">
            <dl>
                <dt>Price</dt>
                <dd th:text="|*{price} Є|"></dd>
                <dt>Description</dt>
                <dd th:text="*{description}"></dd>
                <dt>Added to catalog</dt>
                <dd th:text="*{#temporals.format(created_at, 'dd-MM-yyyy')}"></dd>
            </dl>
            <div class="mt-2">
                <a class="btn btn-primary" th:href="@{/pizzas}">Back to list</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>